nav 
    .logo 
        button( onclick="openNav()") &#9776; 
        a(href="/") Ktsyr1 Design
    .item#item
        .ul
            a.li(href="/") home  
            a.li(href="/contact")  contact
            a.li(href="/about")  about
            a.li.log(href="/users/signup") signup 
            a.li(href="/users/login") login 
        button.closebtn(onclick="closeNav()") 